{
  "plugins": ["transform-class-properties"],
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["transform-class-properties"],
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions", "safari >= 7"]
            },
            "modules": "commonjs"
          }
        ],
        "jest"
      ]
    }
  }
}
