# exclude everything
/*

# except /src/**/*.js
!/src
/src/**/*.*
!/src/**/*.js

# except /test/**/*.js
!/test
/test/**/*.*
!/test/**/*.js
!/src/**/*.js

# except /flow-typed/**/*.js
!/flow-typed
/flow-typed/**/*.*
!/flow-typed/**/*.js

!rollup.config.js
!jest.config.js
